<!-- Forgot_password_view -->
 {% block content %}
 <h3>Forgot Your Password?</h3>
 <h3>Type your username and new password</h3>
<form method="POST" onsubmit="return validateForm()">
    {% csrf_token %}
    <input class="form-control mb-2" type="text" name="username" placeholder="Username"><br>
    <input class="form-control mb-2" type="password" name="password" placeholder="New Password"><br>
    <input class="form-control mb-2" type="password" name="password" placeholder="Confirm Password"><br>
    <button class="btn btn-success">Enter</button>
</form>
{% endblock %}